.title {
  background-color: #f9f9f9
;
  height: 3.3em;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* Responsive operation cards container */
.qd-cards {
  display: flex;
  flex-wrap: nowrap;            /* Prevent wrapping to new line */
  overflow-x: auto;             /* Enable horizontal scrolling */
  overflow-y: hidden;           /* Prevent vertical overflow */
  white-space: nowrap;          /* Prevent internal wrapping */
  gap: 1rem;
  /* padding: 2rem 1em; */
  /* background-color: #f9f9f9; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}


/* Chrome, Edge, Safari */
.qd-cards::-webkit-scrollbar {
  width: 6px;
}

.qd-cards::-webkit-scrollbar-track {
  background: transparent;
}

.qd-cards::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

/* Remove up/down buttons (arrows) */
.qd-cards::-webkit-scrollbar-button {
  display: none;
  height: 0;
}

.equal-height-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: stretch;
}