.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.back-button {
  position: absolute;
  left: 10px;
}

.header-logo img {
  height: 50px;
  width: 150px;
  object-fit: contain;
}
