* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center{
  text-align: center;
}

.d-flex{
  display: flex !important;
}

.align-items-center{
  align-items: center !important;
}

.justify-content-center{
  justify-content: center !important;
}

.mx-1{
  margin-left: 10px;
  margin-right: 10px;
}

.my-1{
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-2{
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-1{
  margin-top: 10px;
}

.mt-2{
  margin-top: 20px;
}

.cursor-pointer{
  cursor: pointer;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling unless absolutely necessary */
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Ensure no scroll */
}

.header-container {
  height: 10%;
  flex-shrink: 0;
}

.content-container {
  height: 90%;
  overflow: auto; 
  background-color: #f3f4f6;
}

.justify-content-end{
  justify-content: end !important;
}

.justify-space-evenly{
  justify-content: space-evenly !important;
}