* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center{
  text-align: center;
}

.d-flex{
  display: flex !important;
}

.align-items-center{
  align-items: center !important;
}

.justify-content-center{
  justify-content: center !important;
}

.mx-1{
  margin-left: 10px;
  margin-right: 10px;
}

.my-1{
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-2{
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-1{
  margin-top: 10px;
}

.ml-1{
  margin-left: 10px;
}

.mt-2{
  margin-top: 20px;
}

.cursor-pointer{
  cursor: pointer;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling unless absolutely necessary */
}

.app-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.content-container {
  flex-grow: 1;
  transition: margin 0.3s ease;
  overflow: auto;
  padding: 1rem;
  min-width: 0;
  background-image: 
    linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
  background-size: 6px 6px; /* smaller grid squares */
}


.header-container {
  height: 7%;
  flex-shrink: 0;
}

.justify-content-end{
  justify-content: end !important;
}

.justify-space-evenly{
  justify-content: space-evenly !important;
}